@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
	font-family: 'Nunito', sans-serif;
}

.Principal{
    width: 1024px;
    margin: auto;
    padding: 10px;
}
#botao{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.botao{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container{
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
    row-gap: 2rem;
	background: #1D976C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-top: 5px;

}

.product-content{

	margin:0 auto;
	display: flex;
	flex-direction: row;
	background: white;
    padding: 3rem;
    border-radius: 16px;
	width: 1024px;
	margin-top: 100px;	
}

.product-infos{
	/* display: flex;
	flex-direction: row-reverse;
	justify-content: center; */

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.product-title{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.product-title p, small{
  padding: 1rem;
}

.product-title p{
	font-size: 2rem;
}

.product-title small{
	font-size: 24px;
}

.product-title button{
	margin-left: 1rem;
}

.product-description{
	margin-left: 1rem;
}

.buy-btn{
	border: 0;
	width: 120px;
	height: 46px;
	cursor: pointer;
	background: #ebe9e9;
	font-weight: 500;
	margin-bottom: 1rem;
}

.buy-btn:hover{
	background: #a7a5a5;
}

.product-img{
	margin-left: auto;
}

@media only screen and (max-width: 600px) {
	.product-infos{
		display: flex;
		flex-direction: column;
		justify-content: center;
	
		
	}

	.product-title{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	.product-img{
		margin: auto;
	}
  }


  /* tabler style */


  .Principal  thead{
	background: radial-gradient(circle at 10% 20%, rgb(166, 226, 229) 0%, rgb(198, 232, 221) 100.2%);
  }

 #teste{
	font-size: 1.3rem!important;
  }

  .column.is-one-half{
	  margin-bottom: 2rem!important;
	  margin-top: 1rem!important;
  }

  th::after{
    top: -2px;
  }

  th::before{
	top: -2px;
}

tfoot{
	display: none!important;
}

.column.is-full{
	border: 1px solid #d1d1d1;
    border-radius: 11px;
    padding: 2rem!important;
}

.add-new-product{
	display: flex;
    align-items: center;
    gap: 10px;
}